

.light{
    background-color: rgb(255, 255, 255);
    color: rgb(39, 38, 38);
  }
  
  .dark{
    background-color: rgb(60, 57, 57);
    color: rgb(255, 255, 255);
  }
  .dark a {
    color: white;
  }

  .dark .buttonTema {
    content: "\1F31A"; /* Código de Unicode para el icono de la luna */
    
  }
  .ligth .buttonTema {
    content: '🌛'; /* Código de Unicode para el icono del sol */
    
  }

  .dark .msmexito{
    position: absolute;
    top: 50px;
    color: greenyellow;
    width: auto;
    width: max-content;
  }
  .dark .msmerror{
    position: absolute;
    color: orangered;
    margin-bottom: 20px;
    width: auto;
    width: max-content;  
  }

  button{
    display:block;
    padding: 0.5rem 1rem;
    border-radius: 10px;
    border-color: rgba(38, 37, 37, 0.162);
    width: fit-content;
    cursor: pointer;
    box-shadow: 15px 5px 10px #48529944;
    
  }

  .theme {
    display: flex;
    justify-content: center;
  }