body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.favButton{
  
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border: none;
  width: fit-content;
  cursor: pointer;
}

h1,h2,h3,h4,p{
  text-align: center;
}
input {
  border-color:rgb(70, 70, 70);
  border-radius: 10px;
  border: 1px solid #000000;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  box-shadow: 15px 5px 10px #48529944;

}
textarea {
  width: 100%;
  height: 90px;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  margin-bottom: 1rem;
  border-color:rgb(70, 70, 70);
  box-shadow: 20px 10px 15px #48529944;
}
.tab-container{
  display: flex; 
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
table{
  font-size:x-large;
  font-style: normal;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); 
  border: 1px solid #ccc; 
  border-radius: 5px;
}
td {
  padding: 10px;
  border: 1px solid #ccc; /* Agrega bordes internos a las celdas */
}

img{
  width: 150px;
}
div, .contact{ 
  top: 50%;
}

.redes{
  position: relative;
  background-color: #000000;
  height: 30px;
}
button{
  display:block;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  border-color: rgba(0, 0, 0, 0.162);
  width: fit-content;
  cursor: pointer;
  box-shadow: 15px 5px 10px #48529944;
  
}

.msmerror{
  position: absolute;
  color: red;
  margin-bottom: 20px;
  width: auto;
  width: max-content;  
}

.msmexito{
  position: absolute;
  top: 50px;
  color: green;
  width: auto;
  width: max-content;
}

.textoErrExit{
  position: relative;
}
.msm{
  position: absolute;
  color: rgb(0, 0, 0);
  top: 20px;
}

.navbar{
  display: flex;
  width: 100%;
  justify-content: space-around;
  height: 40px;
  background-color: rgb(175, 175, 175);
  padding: 1rem;
  margin-bottom: 15px;
  padding-right: 150px;
  color: #000000;
  /* position: fixed; 
  top: 0;
  z-index: 100; */
}
.navbar a {
  color: #000000;
}
.navbar div{
  display: flex;
  align-items: center;
}
.dhOdonto{
  margin-right: 15px;
  font-size:xx-large;
}
.dhOdonto span{
  color: crimson;
}
.menu{
  display: flex;
  align-items: center;
  margin: 15px;
}

a{ 
  text-decoration: none;
  margin: 5px;
  cursor: pointer;
}
a:hover{
  color: rgb(136, 136, 136);
} 

footer {
  text-align: center;
  padding-top: 2rem;
  position: relative;
  bottom: 0;
  width: 100%;
  height: 40px;
  margin-top: 100px;


}
.redes {
  height: 30px;
  width: 30px;
  padding: 2px;
  border-radius: 5px;
  margin: 2px;
}
.redes1{
  display: flex;
   align-items: center;

}
.logDH{
  width: 100%;
  background-color: crimson;
 
}

footer .dh{
  width: 200px;
  margin: 0;
}
footer > p{
  margin: 0;
  padding-top: 0.7rem;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 40px;
  
  
}

form{
 
  width: 300px;
    margin: 0 auto;
  
}

.card{
   /* top: 100px;  */
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 280px;
  height: 350px;
  padding: 0.5rem 0.5rem 0 0.5rem;
  border: 0.5px solid rgb(136, 136, 136);
  border-radius: 10px;
  box-shadow: 15px 5px 10px #48529944;
  
}

.texCard{
  position: absolute;
}

.card:hover{
  border: 0.5px solid rgb(206, 217, 142);
}

.card-grid{
  display: flex;
  justify-content: space-evenly;
  gap: 1rem;
  width: 90vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
}









